:root {
  
  --gutter: calc(100vw / 45);
  --column: calc(var(--gutter) * 2);
  
  --column2: calc(var(--column) * 2 + var(--gutter));
  --column3: calc(var(--column) * 3 + calc(var(--gutter) * 2 ));
  --column4: calc(var(--column) * 4 + calc(var(--gutter) * 3 ));
  --column5: calc(var(--column) * 5 + calc(var(--gutter) * 4 ));
  --column6: calc(var(--column) * 6 + calc(var(--gutter) * 5 ));
  --column7: calc(var(--column) * 7 + calc(var(--gutter) * 6 ));
  --column8: calc(var(--column) * 8 + calc(var(--gutter) * 7 ));
  --column9: calc(var(--column) * 9 + calc(var(--gutter) * 8 ));
  --column10: calc(var(--column) * 10 + calc(var(--gutter) * 9 ));
  --column11: calc(var(--column) * 11 + calc(var(--gutter) * 10 ));
  --column12: calc(var(--column) * 12 + calc(var(--gutter) * 11 ));
  --column13: calc(var(--column) * 13 + calc(var(--gutter) * 12 ));
  --column14: calc(var(--column) * 14 + calc(var(--gutter) * 13 ));

  --page: 100vw;
  --page-padding: calc( (var(--page) - var(--column14)) / 2 );


--gap: 8px;
--gap0-5: calc(var(--gap)*0.5);
--gap1-5: calc(var(--gap)*1.5);
--gap2: calc(var(--gap)*2);
--gap3: calc(var(--gap)*3);
--gap4: calc(var(--gap)*4);
--gap5: calc(var(--gap)*5);
--gap6: calc(var(--gap)*6);
--gap7: calc(var(--gap)*7);
--gap8: calc(var(--gap)*8);

--primary-color: #002F6C;
--white: #ffff;
--black: #0000;
--text-color: #777777;
}


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--text-color);
}

.page {
  max-width: var(--page);
  margin: auto;
  font-size: 2rem;
}

.content {
max-width: var(--column14);
margin: auto;
background-color: bisque;
border: 1px solid red;
}

.header-wrapper {
  background-color: var(--primary-color);
}

header {
  max-width: var(--column14);
  height: 59.4rem;
  margin: auto;
  padding-top: 2.4em;
  color: var(--white);
  background-color: transparent;
}

.header-info {
  position: absolute;
  left: var(--page-padding);
  width: var(--column6);
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  position: relative;
}

h1::after {
  content: "";
  width: 6rem;
  height: var(--gap0-5);
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -2.6rem;
}

.header-info p {
  font-size: 3rem;
  margin-top: 6.6rem;
}

.page-menu {
  height: 11rem;
  margin-top: 4rem;

  background-color: blanchedalmond;
}

.header-image {
  position: absolute;
  right: var(--page-padding);
  bottom: -4rem;
  transform: translate(0, -100%);
  width: var(--column7);
  height: 444px;

}

.mission {
  width: var(--column12);
  margin: auto;
  background-color: var(--white);
  position: relative;
  margin-top: 11.9rem;
  background-color: transparent;
}

.mission-header {
height: 10.2rem;
padding: 2.3rem 2.1rem;
color: var(--white);
background-color: var(--primary-color);
}

.mission-header h2 {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
}

.mission-header h2::after {
  content: "";
  width: 6rem;
  height: var(--gap0-5);
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -2rem;
}

.mission-content {
  position: relative;
  top: -1rem;
  width: calc(100% - 2rem);
  margin: auto;
  padding: 2.9rem 2rem 1.8rem;

  background-color: var(--white);
}

.content-video-wrapper {
  border: 1px solid lime;
  display: none;
}

.content-video {
  position: relative;
  margin-top: 11.9rem;
  background-color: var(--white);
  border: 1px solid lime;
}

.content-video img {
  /* position: absolute;
  top: -4rem;
  left: 0; */
  transform: translate(0, -4rem);
  width: var(--column7);
}

.content-video-info {
  position: absolute;
  /* right: var(--page-padding); */
top: 0;
  transform: translate(var(--column8), 0);
  width: var(--column6);
}

.content-video-info h2 {
position: relative;
font-size: 4rem;
text-transform: uppercase;
margin: 3.6rem auto 7.8rem;
}

.content-video-info h2::after {
  content: "";
  width: 6rem;
  height: var(--gap0-5);
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  bottom: -4rem;
}

.test {
  width: 100%;
  height: 200px;
  background-color: lime;
}


